doctype html
html
  head
    title The Gallery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript' src='/js/index.js')
    link(rel='stylesheet' href='/css/foundation.css')
    link(rel='stylesheet' href='/css/stylesheet.css')
  body
    #header
      .row
        a(href="/")#sitetitle.large-8.medium-8.small-12.columns
          h1 _ARCHITEKT
        #description.large-4.show-for-large-up
          p Welcome to our online portfolio. We are a small group of designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
          if (!user)
            a(href="/login").button Login
          else
            a(href="/logout").button Logout
    #container
      .row
        block content