body {
  background: #fff;
  color: #a4a4a5;
  cursor: auto;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  letter-spacing: 0.0625em;
  margin: 0;
}

#header {
  margin: 10em auto 0 auto;
}

#header .row {
  margin: 0em auto 5em auto;
  padding-top: 2em;
  border-top: dotted 1px gray;
}

#sitetitle {
  display: inline-block;
  color: #696469;
  padding-top: 0.25em;
}

#description {
  font-size: 1em;
  float: right;
  border-left: dotted 1px gray;
  padding-top: 1em;
  padding-left: 1em;
  color: #BCBDC0;
}

#container {
  margin-bottom: 10em;
}

.mainphoto {
  padding: 0 0 3em 0;
  border-bottom: dotted 1px gray;
}

.mainphoto img{
  width: 100%;
  margin: 0 auto;
}

.imgCaption {
  margin-top: 2em;
}

.imgCaption p {
  margin-top: -1em;
  max-width: 100px;
}

.gridBox li {
  margin-top: 2em ;
  border-bottom: dotted 1px gray;
}

.single-image {
  width: 715;
  height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar {
  padding-top: 2.75em;
}

.sidebar-image {
  width: 360px;
  height: 215px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 40em) {
  .single-image {
    width: 560px;
    height: 300px;
  }
}
